<%= form_for @team do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <% Activity.all.each do |activity| %>
      <%= f.radio_button(:activity_id, activity.id) %>
      <%= f.label "activity_id_#{activity.id}".to_sym, activity.name %><br/>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :minimum_members_needed_for_an_event %>
    <%= f.number_field :min_members, min: 1 %>
  </div>
  <div class="actions">
    <%= f.submit "Create Team" %>
  </div>
<% end %>
