<h1>Roster for <%= @roster.team.name %></h1>
<% @roster.team.members.each do |member| %>

  <% if @roster.team.captain?(current_user) %>
    <% finance = member.finance_for(@roster.team) %>
    <% paid_status = finance.paid ? ' paid' : ' not-paid' %>
  <% end %>
  <div id=<%="uid_#{member.id}"%> class="roster-entry<%="#{paid_status || ''}"%>">
    <div class="name">
      <%= member.name %>
    </div>
    <div class="email">
      <%= member.email %>
    </div>
    <% if @roster.team.captain?(current_user) %>
      <div class="paid-btn-container">
        <%= button_to finance.paid ? 'mark as not paid' : 'mark as paid',
          finance_path(finance),
          method: :patch,
          class: 'paid-btn'
        %>
      </div>

    <div class="remove-member-btn-container">
      <%= button_to 'remove member',
        { 
          controller: 'teams',
          action: 'remove_member',
          id: member.id
        },
        method: :patch,
        class: 'remove-member-btn'
      %>
    </div>
    <% end %>
  </div>
<% end %>

