<%= form_for [@team, @schedule], html: { multipart: true } do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <span class="field">
    <span>Add an image/pdf file: </span>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </span>
  <span class="action">
    <%= f.submit 'submit' %>
  </span>
<% end %>
