<div id=<%= event.id %> class="event">
  <span class="team-name">
    <%= event.schedule.team.name %>
  </span>
  <% if event.location %>
    <span class="location"><%= event.location %></span>
  <% end %>
  <span class="start">
    <%=event.start.in_time_zone('Eastern Time (US & Canada)').strftime("%b %d %I:%M") %>
  </span>

  <% if event.schedule.team.captain?(current_user) %>
    <%= button_to 'delete event',
      event_path(event),
      method: :delete,
      data: { confirm: 'Delete event?' }
    %>
  <% end %>

  <% if event.attending.include?(current_user) %>
    <%= button_to 'mark as not attending', event_register_not_attending_path(event), method: :patch %>
  <% else %>
    <%= button_to 'mark as attending', event_register_attending_path(event), method: :patch %>
  <% end %>
</div>
