<div class="container center">
  <h1>New Event</h1>
  
  <%= form_for [ @schedule, @event] do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>
    <table class="form">
      <tr>
        <td class="label">
          <%= f.label :start %>
        </td>
        <td class="input">
          <%= f.datetime_field :start %>
        </td>
      </tr>

      <tr>
        <td class="label">
          <%= f.label :location %>
        </td>
        <td class="input">
          <%= f.text_field :location %>
        </td>
      </tr>

      <tr>
        <td class="label">
        </td>
        <td class="input">
          <%= f.submit 'submit' %>
        </td>
      </tr>
      
    </table>
  <% end %>

</div>
