<div class="container center">
<h1>Event for <%= @event.schedule.team.name %></h1>
<% if @event.location %>
  <h3>Location: <%= @event.location %></h3>
<% end %>
<h3><%= @event.start.strftime("%b %d %I:%M") %></h3>

  <ul class="attendance attending">
    <li class="title">Attending:</li>
      <%= render @event.attending %>
  </ul>
  <ul class="attendance absent">
    <li class="title">Absent:</li>
    <%= render @event.absent %>
  </ul>
</div>
