<%= form_for [@team, @invitation] do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <%= f.hidden_field :from_id, value: current_user.id %>
  <div class="field">
    <%= f.label :invite_email %>
    <%= f.text_field :invite_email, autofocus: true %>
  </div>
  <div class="action">
    <%= f.submit "Invite" %>
  </div>
<% end %>
